body {
	background:rgb(255,255,255);
	color:rgb(0,0,0);
	margin:1px;
	font:medium sans-serif;
}
a {
	color:rgb(0,0,255);
	cursor:pointer;
}

/*userbar*/
#userbar {
	float:right;
	cursor:default;
	font-size:small;
}
#userbar a {
	margin-right:15px;
}
#userbar #ub_user,
#userbar #ub_login {
	padding-left:20px;
	background:url(img/user.png) top left no-repeat;
}

/*boxes*/
#login_error,
#submitaccount_error {
	color:rgb(204,0,0);
	padding-top:6px;
}
/*loginbox*/
#loginbox {
	position:absolute;
	top:20px;
	right:0;
	background:rgb(232,238,250);
	border:1px solid rgb(195,217,255);
	font-size:small;
	text-align:right;
	display:none;
}
#login_rememberme_label {
	float:left;
}
#login_submit {
	clear:both;
	float:left;
}
/*submitaccountbox*/
#submitaccountbox {
	position:absolute;
	top:20px;
	right:0;
	background:rgb(232,238,250);
	border:1px solid rgb(195,217,255);
	font-size:small;
	text-align:right;
	display:none;
}
#submitaccount_submit {
	float:left;
}

/*fat*/
#fat,
#submitthreadbox,
#submitreplybox {
	margin:0 2%;
}
#fat #top {
	font-size:small;
	color:rgb(56,54,49);
	text-align:center;
	padding:2px 0 5px;
}
#fat #top #back {
	float:left;
}
#fat #top #back a {
	padding-left:20px;
	background:url(img/back.png) top left no-repeat;
}
#fat #top #refresh a {
	padding-left:20px;
	background:url(img/refresh.png) top left no-repeat;
}

/*forum()*/
/* forum*/
#fat .forum {
	border:1px solid rgb(0,0,0);
	background:rgb(243,245,248);
}
#fat .forum .body {
	font-size:small;
}
#fat .forum .body .subject {
	font-size:medium;
}
#fat .forum .num {
	float:right;
	font-size:small;
}
/* thread*/
#fat .thread {
	border:1px solid rgb(0,0,0);
	background:rgb(243,245,248);
}
#fat .thread .author {
	float:right;
	font-size:small;
}

#fat #submitforum_form {
	width:50%;
	float:left;
	text-align:center;
}
#fat #submitthread_form {
	width:50%;
	float:right;
	text-align:center;
}
/* submit*/
#fat #addforum {
	margin-top:4px;
	text-align:center;
	font-size:small;
}
#fat #addforum a {
	padding-left:20px;
	background:url(img/comments.png) top left no-repeat;
}
#fat #addthread {
	margin-top:10px;
	text-align:center;
	font-size:small;
}
#fat #addthread a {
	padding-left:20px;
	background:url(img/comment.png) top left no-repeat;
}

/*thread()*/
#fat .post,
#submitreplybox #submitreply_form,
#submitthreadbox #submitthread_form {
	border:1px solid rgb(56,54,49);
	margin-bottom:10px;
	font-size:small;
}
#fat .post .topinfo,
#submitreplybox #submitreply_form .topinfo,
#submitthreadbox #submitthread_form .topinfo {
	background:rgb(100,140,191);
	color:rgb(255,255,255);
	font-weight:bold;
	padding:3px;
	margin:1px;
	border-bottom:1px solid rgb(100,100,100);
}
#fat .post .topinfo .date,
#submitreplybox #submitreply_form .topinfo .date,
#submitthreadbox #submitthread_form .topinfo .date {
	float:right;
}
#fat .post .author,
#submitreplybox #submitreply_form .author,
#submitthreadbox #submitthread_form .author {
	float:left;
	width:12%;
	font-size:small;
	padding-left:4px;
	background:rgb(243,245,248);
}
#fat .post .body,
#submitreplybox #submitreply_form .body,
#submitthreadbox #submitthread_form .body {
	margin-left:12.5%;
	padding:5px;
	border-left:1px solid rgb(255,255,255);
	background:rgb(238,241,245);
}
/* submit*/
#fat #addreply {
	text-align:center;
	font-size:small;
}
#fat #addreply a {
	padding-left:20px;
	background:url(img/comment.png) top left no-repeat;
}

#submitreplybox #submitreply_form,
#submitthreadbox #submitthread_form {
	margin-top:25px;
}
#submitreplybox #submitreply_form .topinfo,
#submitthreadbox #submitthread_form .topinfo {
	padding:3px;
}
#submitreplybox #submitreply_form .topinfo .subject input,
#submitthreadbox #submitthread_form .topinfo .subject input {
	width:200px;
	font-size:small;
	border:0;
}
#submitreplybox #submitreply_form .body textarea,
#submitthreadbox #submitthread_form .body textarea {
	width:99%;
	height:100px;
	border:1px solid rgb(165,172,178);
}
#submitreplybox #submitreply_form .body input,
#submitthreadbox #submitthread_form .body input {
	margin-top:3px;
}
