a {
	color:rgb(0,0,255);
	cursor:pointer;
}

#thread .post {
	border:1px solid rgb(0,0,0);
}
#thread .post .author {
	float:left;
	width:100px;
	font-size:9pt;
}
#thread .post .body {
	margin-left:105px;
	border-left:1px solid rgb(0,0,0);
}
#thread .post .body .topinfo {
	border-bottom:1px solid rgb(100,100,100);
}
#thread .post .body .reply {
	float:right;
}

#fat .forum {
	border:1px solid rgb(0,0,0);
}
#fat .forum .num {
	float:right;
}
#fat .forum .num_threads {
/*	display:inline;*/
}
#fat .forum .num_posts {
/*	display:inline;*/
}

#fat .thread {
	border:1px solid rgb(0,0,0);
}
#fat .thread .subject {

}
#fat .thread .author {
	float:right;
}
