body {
	background:rgb(255,255,255);
	color:rgb(0,0,0);
	margin:1px;
	font:medium sans-serif;
}
a {
	color:rgb(0,0,255);
	cursor:pointer;
}

/*userbar*/
#userbar {
	float:right;
	cursor:default;
	font-size:small;
}
#userbar a {
	margin-right:15px;
}
#userbar #ub_user,
#userbar #ub_login {
	padding-left:20px;
	background:url(img/user.png) top left no-repeat;
}

/*loginbox*/
#loginbox {
	position:absolute;
	top:20px;
	right:0;
	background-color:rgb(232,238,250);
	background-position:3px 3px;
	border:1px solid rgb(195,217,255);
	font-size:small;
	text-align:right;
	display:none;
}
#login_submit {
	float:left;
}

/*forum()*/
#fat .forum {
	border:1px solid rgb(0,0,0);
}
#fat .forum .num {
	float:right;
}

#fat .thread {
	border:1px solid rgb(0,0,0);
}
#fat .thread .subject {

}
#fat .thread .author {
	float:right;
}

#fat #submitforum_form {
	width:50%;
	float:left;
	text-align:center;
}
#fat #submitthread_form {
	width:50%;
	float:right;
	text-align:center;
}

/*thread()*/
#fat .post {
	border:1px solid rgb(0,0,0);
}
#fat .post .author {
	float:left;
	width:100px;
	font-size:9pt;
}
#fat .post .body {
	margin-left:105px;
	border-left:1px solid rgb(0,0,0);
}
#fat .post .body .topinfo {
	border-bottom:1px solid rgb(100,100,100);
}
#fat .post .body .reply {
	float:right;
}
#fat #submitreply_form {
	text-align:center;
}
